<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<!-- 1、定义MyBatis的SqlSessionFactoryBean对象实例，并且与mybatis.cfg.xml文件产生关联 -->
	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>	<!-- 定义要使用的数据源 -->
		<property name="configLocation" value="classpath:mybatis/mybatis.cfg.xml"/>
	</bean> 
</beans>
